.el
  .close X
  .checkbox-cont
    input(name="check1").data-in(type="checkbox")
    input(name="check2").data-in(type="checkbox")
    input(name="check3").data-in(type="checkbox")
    input(name="check4").data-in(type="checkbox")
  .body-cont
    input#text.data-in(type="text")
    br
    input.data-in(type="radio", name="option-{{id}}", data="option1")
    input.data-in(type="radio", name="option-{{id}}", data="option2")
    input.data-in(type="radio", name="option-{{id}}", data="option3")
      
      
   button.ok OK 
